body{
    height: 100vh;
    font-family: arial;
}
.navdiv {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0.5rem;
    width: 100%;
}
.navbar ul :hover{
    transform: scale(1.05);
    color: black;
}
.navbar h1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
} 
ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 3rem;
    margin: 0;
}
h1 {
    font-size: 2.5rem;
    font-weight: bold;
}
button {
    background-color: #04DDB2;
    border-radius: 90px;
    width: 148px;
    height: 42px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
} 
button a {
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    text-decoration: none;
}
button:hover {
    transform: scale(1.05);
}
.navbar li a {
    color: gray;
    font-size: 1.5rem;
    text-decoration: none;
}
footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 5px;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom:200px ;
    padding-left: 150px;
}
.fifth i{
    font-size: 30px;
    color: white;
    background-color:aqua;
    border-radius: 50%;
    height: 50px;
    width:50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;   
    margin-bottom: 10px; 
}
.fifth i:hover{
    font-size: 31px;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    text-align: center;
}
ol {
    list-style: none;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 150px;
}
li a {
    color: grey;
    font-size: 18px;
    text-decoration:none ;
}
li a:hover{
    font-size: 25px;
}
.footer li {
    padding-top: 20px;
}
.train{
    font-size: 60px;
    font-weight: 900;
    margin-left: 34%;
    margin-top: 10%;
}
#main button {
    height: 55px;
    width: 180px;
    background-color: aqua;
    font-size:25px ;
    color: white;
    border-radius: 30px;
    border-width: 0px;
    display: block;
    margin: auto;
    margin-bottom:200px;
}
